*{
margin: 0px;
padding: 0;
box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #e6e6e6;
}
.cabecera{
    background-color: #E7C6A5;
    color: #432900;
    padding: 20px 0;
    margin-bottom: 0px;
}
.Contenedor-cabecera{
    max-width: 1400px;
    margin: auto 50px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 1px;
    height: 70px;
}
.logo img{
    height: 70px;
    display: block;
}
.menú{
    display: flex;
    align-items: center;
    gap: 20px;
}
.lista-menú{
    list-style: none;
    display: flex;
    gap: 20px;
}
.lista-menú li a{
    color: #432900;
    text-decoration: none;
    font-size: 16px;
}
.lista-menú li a:hover{
    font-size: large;
}
.banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    margin: 0;
}
.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Contenedor-banner{
    max-width: 380px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.Contenedor-banner h1{
    color: #FFFFFF;
    font-size: 50px;
}
.Contenedor-banner p{
    color: #FFFFFF;
}
h2{
    color: #432900;
    text-align: center;
    margin-bottom: 30px;
}
h3{
    color: #432900;
    text-align: center;
    margin-bottom: 10px;
}
p{
    color: #432900;
    margin-bottom: 10px;
}
.sobre-nosotros{
    margin: 50px;
}
.sobre-nosotros img{
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}
.Servicios{
    margin: 50px;
}
.nuestros-servicios{
    display: flex;
    align-items: center;
    gap: 50px;
}
.Comida-tradicional{
    background-color: #E7C6A5;
    padding: 15px;
}
.Comida-tradicional img{
    width: 300px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}
.btn-tradicion{
   color: #432900;
   background-color: #E7C6A5;
   padding: 5px;
   font-weight: bold;
   border-radius: solid #432900 5px;
   cursor: pointer;
}
.Mercado{
    background-color: #E7C6A5;
    padding: 15px;
}
.Mercado img{
    width: 300px;
    margin-bottom: 10px;
    text-align: center;
}
.btn-mercado{
   color: #432900;
   background-color: #E7C6A5;
   padding: 5px;
   font-weight: bold;
   border-radius: solid #432900 5px;
   cursor: pointer;
}
.Víveres{
    background-color: #E7C6A5;
    padding: 15px;
}
.Víveres img{
    width: 300px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}
.btn-víveres{
   color: #432900;
   background-color: #E7C6A5;
   padding: 5px;
   font-weight: bold;
   border-radius: solid #432900 3px;
   cursor: pointer;
}
.Contacto{
    margin: 50px;
}
.mapa{
    align-items: center;
    margin-bottom: 30px;
}
.formulario{
    text-align: center;
}
.pié-de-página{
    background-color: #432900;
    padding: 20px 0;
    margin-bottom: 0px;
    align-items: center;
}
.contenedor-pie{
    max-width: 1400px;
    margin: auto 50px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}
.logos{
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 50px;
}
.logos img{
    width: 250px;
}
.pié-de-página p{
    text-align: center;
    color: #FFFFFF;
    
}
